# URL de la API Flask corriendo en la Raspberry Pi
VITE_PI_API_URL=http://192.168.1.100:5000

# URL del servidor Flask corriendo en la laptop del equipo
VITE_SERVER_API_URL=http://localhost:5001

# Modo: development | production
VITE_MODE=development
